fLight = 300
fRegular = 400
fMedium = 500
fBold = 700 
fBlack = 900

cWhite = #ffffff
cBlack = #000000
cGray = #6e6e6e
cbl = #27AEC2

fbb = "FuturaBT-Book", sans-serif
fbh = "FuturaBT-Heavy", sans-serif
fp = "Poppins-Regular", sans-serif
fo = "OpenSans", sans-serif

@font-face
	font-family: 'FuturaBT-Book'
	font-weight: normal
	font-style: normal
	src: url("../fonts/FuturaBT-Book/FuturaBT-Book.eot")
	src: url("../fonts/FuturaBT-Book/FuturaBT-Book.eot?#iefix")format("embedded-opentype"),
	url("../fonts/FuturaBT-Book/FuturaBT-Book.ttf") format("truetype"),
	url("../fonts/FuturaBT-Book/FuturaBT-Book.woff") format("woff")

@font-face
	font-family: 'FuturaBT-Heavy'
	font-weight: normal
	font-style: normal
	src: url("../fonts/FuturaBT-Heavy/FuturaBT-Heavy.eot")
	src: url("../fonts/FuturaBT-Heavy/FuturaBT-Heavy.eot?#iefix")format("embedded-opentype"),
	url("../fonts/FuturaBT-Heavy/FuturaBT-Heavy.woff") format("woff"),
	url("../fonts/FuturaBT-Heavy/FuturaBT-Heavy.ttf") format("truetype")

@font-face
	font-family: 'Poppins-Regular'
	font-weight: normal
	font-style: normal
	src: url("../fonts/Poppins-Regular/Poppins-Regular.eot")
	src: url("../fonts/Poppins-Regular/Poppins-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Poppins-Regular/Poppins-Regular.woff") format("woff"),
	url("../fonts/Poppins-Regular/Poppins-Regular.ttf") format("truetype")

@font-face
	font-family: 'OpenSans'
	font-weight: normal
	font-style: normal
	src: url("../fonts/OpenSans/OpenSans.eot")
	src: url("../fonts/OpenSans/OpenSans.eot?#iefix")format("embedded-opentype"),
	url("../fonts/OpenSans/OpenSans.woff") format("woff"),
	url("../fonts/OpenSans/OpenSans.ttf") format("truetype")

body
html
	font-family fbb
	c cBlack