@import ("../../libs/template/reset.css")
@import ("../../libs/template/lib")
@import ("../../libs/template/media")

@import ("libs/*.css")
@import ("fonts")
@import ("blocks/**/**")

*
	box-sizing border-box

html
	// background: cBlack

body
	position relative
	overflow-x: hidden
	min-width 320px
	background: cWhite
	&.overflow
		overflow hidden

#overlayer
	width 100%
	height 100%
	position fixed
	top 0
	left 0
	z-index 11
	background cBlack

.align-right
	float right
.align-left
	float left

.text-center
	text-align center
.text-right
	text-align right

h1, h2, h3, h4, h5, h6
	font-family: fbb

h1
	font-size 32px
h2
	font-size 28px
h3
	font-size 26px
h4
	font-size 22px
h5
	font-size 18px
h6
	font-size 16px

b, strong
	font-family fbh

.container
	box-sizing border-box
	// max-width 1310px
	// max-width 1890px
	max-width 1824px
	width 100%
	padding-left 15px
	padding-right 15px
	margin 0 auto
	@media screen and (max-width: 640px)
		padding-left 20px
		padding-right 20px
	
// .icon-arrow
// 	position relative
// 	display inline-block
// 	width 35px
// 	height 2px
// 	background #fff
// 	&:before
// 		position absolute
// 		top 10px
// 		display inline-block
// 		content ''
// 		width 20px
// 		height 20px
// 		border-style solid
// 		border-width 2px 2px 0 0
// 		border-color #fff
// 		transform: rotate(45deg)


.section-pages
	padding 100px 0
.navigation-page
	position relative
	li
		margin-bottom 14px
		a
			font-family fbh
			color #5a5a5b
			font-size 38px
			text-decoration none
			trn(.2s)
		&:hover
			a
				color #FDB414