@media screen and (max-width: 2250px)
  .footer
    min-height: auto
  .copy-foot
    margin-top 125px
    font-size 12px
    padding 30px 0 32px
  .list-footer
    h4
      font-size 22px
      margin-bottom 14px
    ul
      li:not(:last-child)
        margin-bottom 9px
      a
        font-size 15px
  .logo-footer
    img
      width 158px
  .section-contact
    min-height: 40px
    max-height: 40px
  .contact-wrapper input
    font-size: 16px
    min-height: 52px
    padding 5px 30px
    margin-bottom 18px
    &::-webkit-input-placeholder
      font-size: 16px
    &::-moz-placeholder
      font-size: 16px
    &:-ms-input-placeholder
      font-size: 16px
    &:-moz-placeholder
      font-size: 16px
  .contact-wrapper textarea
    font-size: 16px
    min-height: 110px
    &::-webkit-input-placeholder
      font-size: 16px
    &::-moz-placeholder
      font-size: 16px
    &:-ms-input-placeholder
      font-size: 16px
    &:-moz-placeholder
      font-size: 16px
  .contact-wrapper
    max-width 960px
    margin-top 85px
    padding 60px 60px 50px
  .contact-heading
    margin-bottom 50px
    h3
      font-size 38px
      margin-bottom 18px
    p
      font-size 16px
  .number-wrapper .number-items
    h3
      font-size 66px
    p
      font-size 28px
  .section-number
    padding-top 76px
  .number-wrapper
    min-height: 260px
  .section-about
    background-size contain !important
  .about-wrapper
    background-size: cover !important
    background-position: 100px 0px
    background-repeat no-repeat
    min-height: 720px
    h3
      font-size 46px
      margin-bottom 5px
    p
      font-size 22px
      &:not(:last-child)
        margin-bottom 5px
    .button
      margin-top 0
  .section-case
    padding-bottom 142px
  .slider-case .slick-dots
    margin-top 38px
    li
      &:not(:last-child)
        margin-right 12px
      button
        height 4px
        width 50px
  .case-images
    width 50%
  .case-text
    width 50%
    span
      font-size 28px
      margin-bottom 30px
    h3
      font-size 44px
      margin-bottom 30px
    p
      font-size 23px
  .section-referrals
    padding 60px 0
    min-height: 212px
  .referrals-text img
    margin-right: 14px
    width: 50px
  .referrals-text p
    font-size 38px
  .section-information
    padding-top 20px
    padding-bottom 215px
  .info-items
    padding 20px 0
  .section-information .info-items:nth-child(odd) .info-items--text
    margin-left 60px
  .section-information .info-items:nth-child(even) .info-items--text
    margin-left 24px
  .info-items--text h3
    font-size 37px
  .info-items--text p
    font-size 18px
  .info-items--images
    .info-background,
    .info--images
      width 86%
  .top-menu--wrapper
    padding-left 82px
    padding-top 34px
  .top-line
    padding-top 12px
  .container,
  .section-information .container
    // max-width 1656px
    max-width 1286px
  .section-case .container
    left 0
    max-width 1286px
  .logo-link img
    max-width 198px
  .top-menu
    li
      &:not(:last-child)
        margin-right 54px
      a
        font-size 18px
  .contact-head a:not(:first-child)
    margin-left 76px
  .contact-head .phone-link
    font-size 20px
    .icon-phone
      max-width 18px
  .contact-head .email-link
    font-size 15px
    line-height normal
    .icon-email
      margin-right: 5px
      max-width: 24px
  .contact-head
    padding-top 12px
    margin-right -145px
  
  .background-head .background-head--position
    margin-right -62px
  .background-head .background-head--main
    max-width 770px
  .background-head
    .background-head--line
      top 20px
      img
        max-width 828px
  
  .text-line
    p
      font-size 20px
    &:before
      width 15px
      height 15px
    &.text-line--one
      left -20%
      &:before
        top: 6px
        right: -30px
    &.text-line--two
      bottom 6%
      left -2%
      &:before
        top: 4px
        right: -42px
    &.text-line--three:before
      top -30px
    &.text-line--four:before
      top 7px
      left -26px
  
  .text-head
    padding-top 324px
    h1
      font-size 56px
    p
      font-size 22px
      max-width 345px
      margin-top 34px
    .button
      margin-top 42px
    .social-list
      margin-top 75px
      &:before
        top 20px
      a
        width 40px
        height 40px
        &:hover
          svg
            transform: scale(1)
      svg
        height 18px
  
  .section-partner
    padding-top 45px
  .partner-wrapper
    .partner-items
      text-align center
      img
        width 80%

@media screen and (max-width: 1600px)
  .text-line.text-line--one
    left -24%
  .text-line.text-line--two
    left -4%
  .top-menu--wrapper
    padding-left 45px
  .text-line p
    font-size 16px
  .text-head
    padding-top 250px
  .list-footer ul .icon-link img
    max-height: 20px
  .contact-head a:not(:first-child)
    margin-left 40px
  .logo-link img
    max-width 180px
  .contact-head
    margin-right -60px
  .background-head .background-head--position
    margin-right 45px
  .background-head .background-head--main
    max-width 660px
  .background-head .background-head--line img
    max-width 700px
  .top-menu
    li
      &:not(:last-child)
        margin-right 32px
      a
        font-size 16px

@media screen and (max-width: 1400px)
  .contact-head
    margin-right 0
  .contact-head .phone-link
    font-size 16px
  .contact-head a:not(:first-child)
    margin-left 30px

@media screen and (max-width: 1199px)
  .header
    padding-bottom 80px
  .section-partner
    padding-top 40px
    padding-bottom 80px
  .partner-wrapper .partner-items
    text-align: center
    width: calc(100% / 6)
    display: flex
    align-items: center
    justify-content: center
    img
      max-width 70%
  .background-head .background-head--main
    max-width 540px
  .background-head .background-head--line img
    max-width 570px
  .text-line.text-line--one
    left -30%
  .text-line.text-line--two
    left -11%
  .text-line.text-line--three
    bottom -6%
  .text-line.text-line--four
    left 88%
  .text-head h1
    font-size 46px
  .text-head p
    font-size 18px
    margin-top 24px
  .text-head .button
    margin-top 20px
  .contact-head .phone-link,
  .contact-head .email-link
    font-size 16px
    c #5a5a5b
    font-weight 300
    img
      display none
  .referrals-text p br
    display none
  .button-referral img
    max-width 24px
  .case-text span
    font-size: 24px
    margin-bottom: 18px
  .about-wrapper
    min-height: 640px
    pl  250px
    pb 100px
    justify-content: flex-end
  .about-wrapper .button
    mt 10px
  .case-text h3
    font-size: 34px
    margin-bottom: 30px
  .about-wrapper h3
    font-size: 42px
    margin-bottom: 10px
  .about-wrapper p
    fz 18px
  .about-wrapper p:not(:last-child)
    margin-bottom: 14px


@media screen and (max-width: 1024px)
  .about-wrapper:before
    width 500px
  .background-head .background-head--main
    max-width 450px
  .background-head .background-head--line img
    max-width 470px
  .top-line
    trn(.2s)
    &.active
      background #fff
  .logo
    display flex
  .footer .flex-container
    padding-left 15px !important
    padding-right 15px !important
  .burger-menu
    display flex
  .top-menu--wrapper
    position absolute
    top 100%
    left 0
    width 100%
    background #ffffff
    height calc(100vh - 110px)
    padding 30px
    border-top 1px solid #dddddd
    opacity 0
    visibility hidden
    trn(.2s)
    &.active
      opacity 1
      visibility visible
  .top-menu
    flex-direction column
    align-items center
    height 100%
    justify-content center
  .top-menu li:not(:last-child)
    margin-right 0
    margin-bottom 40px
  .text-line.text-line--one
    left -37%
  .text-line.text-line--two
    left -19%
  .text-line.text-line--three
    bottom -8%
  .text-line.text-line--four
    left 89%
    width 100px

@media screen and (max-width: 991px)
  .header
    padding-bottom 50px
  .referrals-text p
    font-size 32px
  .section-partner
    padding-bottom 20px
  .text-line.text-line--one
    display none
  .text-line.text-line--two
    display none
  .text-line.text-line--three
    display none
  .text-line.text-line--four
    display none
  .text-head
    padding-top 140px
  .text-head .social-list:before
    display none
  .text-head .social-list
    margin-top 30px
  .background-head .background-head--position
    margin-right 0
  .info-items--text h3
    font-size 30px
  .section-information .info-items:nth-child(odd) .info-items--text
    margin-left 15px
  .info-items--text p
    font-size 16px
    margin-top 14px
  .info-items
    margin-top 40px !important
  .section-information
    padding-bottom 120px
  .section-case
    padding-top 50px
    padding-bottom 50px
  .contact-wrapper
    padding 40px 30px 40px
    max-width 768px
  .contact-button
    padding-top 0
  .footer
    padding-top 600px
  .copy-foot
    margin-top 80px
  .logo-footer
    display flex
    height 100%
    align-items center
    img
      width 120px
  .list-footer ul a
    font-size 14px
  .number-wrapper .number-items h3
    font-size 54px
  .number-wrapper .number-items p
    font-size 24px
  .list-footer ul .icon-link
    width 20px
    margin-right 10px

@media screen and (max-width: 854px)
  .info-items--images .info--images
    transform: translate(0,0) !important
  .list-footer ul .icon-link img
    max-width 15px
  .about-wrapper
    padding-left 220px
    padding-bottom 70px
  .about-wrapper p
    font-size 16px
  .footer
    .col-md-05:first-child
      display none

@media screen and (max-width: 768px)
  .section-information
    padding-bottom 60px
  .background-head .background-head--line img
    display none
  .background-head .background-head--main
    max-width 380px
  .partner-wrapper
    justify-content center
    .partner-items
      width calc(100% / 4)
      margin 20px 0
  .section-partner
    padding-top 20px
  .section-information .info-items:nth-child(even) .info-items--text
    margin-left 0
    padding-right 20px
  .referrals-text p
    font-size 24px
  .about-wrapper
    padding-left: 195px
    padding-bottom: 50px
    width: 80%
    min-height: 520px

@media screen and (max-width: 720px)
  .section-referrals
    padding: 40px 0
    min-height: auto
  .background-head
    display none
  .section-partner
    padding-top 0
    padding-bottom 0
  .case-items
    flex-direction column-reverse
    .case-images,
    .case-text
      width 100%
  .section-case
    padding-top 30px
  .case-images img
    max-width: 500px
    width: 100%
    margin: 0 auto
  .section-number
    padding-top 60px
  .contact-wrapper
    margin-top 60px
  .contact-wrapper textarea
    padding 20px
  .number-wrapper .number-items h3
    font-size 42px
  .number-wrapper .number-items p
    font-size 20px
  .number-wrapper
    min-height 190px
  .about-wrapper
    min-height: 460px
  .about-wrapper p
    font-size 14px
  .about-wrapper h3
    font-size 36px

@media screen and (max-width: 640px)
  .info-items
    flex-direction column
    .col-md-6
      width 100%
  .section-information .info-items:nth-child(even)
    flex-direction column-reverse
    .info-items--text
      padding-left 0
  .info-items--images
    position: relative
    max-width: 480px
    margin: 0 auto 40px
  .info-items--images .info-background
    position: absolute
    left: 50%
    transform: translate(-50%,0)
  .section-information .info-items:nth-child(even) .info-items--text
    padding-right 0
    padding-bottom 0
  .info-items
    margin-top: 0px!important
  .section-information .info-items:nth-child(odd) .info-items--text
    margin-left 0
  .info-items--text
    text-align center
    max-width 480px
    margin-left auto !important
    margin-right auto !important
  .contact-head
    padding-top 10px
  .contact-head .email-link, .contact-head .phone-link
    font-size 14px
  .list-footer h4
    font-size 18px

@media screen and (max-width: 600px)
  .contact-wrapper .col-md-12, .contact-wrapper .col-md-6
    padding: 0 5px
  .partner-wrapper .partner-items
    width: calc(100% / 3)
  .referrals-button .button
    margin 20px auto 0
  .referrals-wrapper
    flex-direction column
    .referrals-text,
    .referrals-button
      width 100%
  .about-wrapper
    padding-left: 190px
    padding-bottom: 50px
    width: 100%
  .footer
    padding-top 60px
  .copy-foot
    margin-top 40px
  .footer .col-md-05
    width 50%
    margin-bottom 20px
  .section-contact
    min-height: auto
    max-height: 100%
  .footer:before,
  .footer:after
    display none
  .section-contact
    padding-bottom 60px
  .number-wrapper
    flex-direction column
    padding 30px 20px
    .number-items
      width 100%
  .number-items
    &:not(:last-child)
      margin-bottom 20px
  .contact-wrapper
    padding 30px 15px 30px

@media screen and (max-width: 540px)
  .contact-head
    display none
  .section-about
    background #fa981c !important
  .about-wrapper
    padding-left 0
    min-height: 400px
  .about-text
    text-align center

@media screen and (max-width: 480px)
  .contact-heading h3
    font-size: 32px
    margin-bottom: 10px
  .contact-wrapper .col-md-12, .contact-wrapper .col-md-6
    width 100%
  .contact-heading
    margin-bottom 24px

@media screen and (max-width: 360px)
  .text-head h1
    font-size 36px
  .logo-link img
    max-width: 154px
  .text-head
    padding-top 120px
  .burger-menu
    margin-top 32px
  .case-text h3
    font-size 30px
    margin-bottom 24px
  .case-text span
    font-size: 22px
    margin-bottom: 10px

// @media screen and (max-width: 2250px)