.section--default-text
  .default-text
    color: #58585a
    font-family: fbh
    font-size: 58px
    line-height 1.4
    font-weight: 400

    margin-bottom 85px

.default-items
  position relative
  
  &.vertical-center
    display flex
    flex-direction column
    justify-content center

  h3
    color: #58585a
    font-family: fbh
    font-size: 51px
    margin-bottom 35px
  p
    color: #878787
    font-family: fo
    font-size: 20px
    line-height 35px
    margin-top 14px

  .default-background
    position absolute
  .default-img
    position relative

.default-wrapper
  display flex
  .col-md-6
    width 50%
    padding 0 45px