footer.footer
	.container.flex-container
		.col-md-05
			a(href="#").logo-footer
				img(src="img/logo-footer.png", alt="")
		.col-md-05
			.list-footer
				h4 Company
				ul
					li
						a(href="#") About Us
					li
						a(href="#") Features
					li
						a(href="#") Services
					li
						a(href="#") Technology
					li
						a(href="#") Contact
		.col-md-05
			.list-footer
				h4 Resources
				ul
					li
						a(href="#") Support
					li
						a(href="#") News & Blogs
					li
						a(href="#") Terms of Use
					li
						a(href="#") Privacy Policy
					li
						a(href="#") Get new patient
		.col-md-05
			.list-footer
				h4 Contact Us
				ul
					li
						a(href="#")
							span.icon-link #[img(src="img/icon/telefonica.svg", alt="")]
							| 020 8064 0164
					li
						a(href="#")
							span.icon-link #[img(src="img/icon/email.svg", alt="")]
							| hello@ignitegrowth.io
					li
						a(href="#")
							span.icon-link #[img(src="img/icon/location.svg", alt="")]
							| Mappin House #[br] Oxford Street London W1W 8HF
		.col-md-05
			.list-footer
				h4 Stay in touch
				ul
					li
						a(href="#")
							span.icon-link #[img(src="img/icon/facebook.svg", alt="")]
							| Facebook
					li
						a(href="#")
							span.icon-link #[img(src="img/icon/instagram.svg", alt="")]
							| Instagram
					li
						a(href="#")
							span.icon-link #[img(src="img/icon/linkedin.svg", alt="")]
							| Linked In
	
	.copy-foot
		p  © 2020 Company Name | All Rights Reserved 