.top-line
  .container.flex-container
    .logo
      a.logo-link(href="/")
        img(src="img/logo.png", alt="")
      a(href="#").burger-menu
        span
        span
        span
    nav.top-menu--wrapper
      ul.top-menu
        li.active
          a(href="#") WHAT WE OFFER
        li
          a(href="#") PRICING
        li
          a(href="#") CASE STUDIES
        li
          a(href="#") MEET US
    .contact-head
      a(href="tel:02080640164").phone-link #[img(src="img/icon/phone-icon.png", alt="", class="icon-phone")] 020 8064 0164
      a(href="mailto:hello@ignitegrowth.io").email-link #[img(src="img/icon/mail-icon.png", alt="", class="icon-email")] hello@ignitegrowth.io